{% extends 'root.html.twig' %}

{% block root %}


    {# le header  #}
    {% include "::sections_app/header.html.twig" %}
    <div class="page animsition">
        <div class="page-content container-fluid">
            {# les messages flashs
            {% include "::sections_app/flashMessages.html.twig" #}

            {# le contenu  #}
            {% block body %}	{% endblock %}

        </div>
    </div>
    {# le footer #}
    {% include "::sections_app/footer.html.twig" %}

{% endblock %}


