{% block footer %}
     <!-- Footer -->
  <footer class="site-footer">
    <div class="site-footer-legal">© 2016 <a href="#">BO Park</a></div>
    <div class="site-footer-right">
      Développé par <a href="#">BO Soft</a>
    </div>
  </footer>
{% endblock footer %}